<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://localhost" />
    <add key="AdminEmail" value="" />
    <add key="AdminUsername" value="" />
    <add key="AdminPassword" value="" />
    <add key="TestProjectId" value=""/>
    <add key="TestProjectName" value=""/>
  </appSettings>
</configuration>