<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="url" value="http://66.6.124.181" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="AdminEmail" value="abbyyadmin@abbyyusa.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="AdminUsername" value="Admin" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="AdminPassword" value="abbyydemo1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="TestProjectId" value="590c98f9ac16d66e9571a5d8" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="TestProjectName" value="Autotest Project" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
</configuration>