<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
	<add key="url" value="http://66.6.124.181" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
	<add key="AdminUsername" value="Admin" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
	<add key="AdminPassword" value="abbyydemo1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
	<add key="AdminPassword" value="abbyydemo1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </appSettings>
</configuration>